// Colors
$clr1: #FFAA00;
$clr2: #000000;
$clr3: #FFEA00;
$clr4: white;
$clr7: #f15b85;
$clr8: lightgrey;
$clr9: #e6e6e6;
$clr10: #FF3333;
$clr11: teal;
$clr12:#111010;
$clr5: #003AD2;
$clr6: #dff0ea;
$bgclr1: #000330;
$bgclr2: #4B44B8;
$shadow1: 0px 4px 14px 0px rgba(72, 72, 72, 0.4);
$border1:2px solid $clr9;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 745px;
$midium-breakpoint: 950px;
$normal-breakpoint: 1125px;
$wide-breakpoint: 1390px;
$ultra-wide-breakpoint: 1960px;